.fetures{
    @media screen  and (min-wight:$desktop) {
        
        justify-content: space-between;
    }
    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    

}
.fetures-item{
    width: 270px;
    @media screen and (min-width: $tablet) {
        width: calc((100% - 60px) / 2);
        margin: 15px;
    }
    
}
.fetures-item:not(:last-child){
    @media screen and (max-width: 767px) {
        margin-bottom: 30px;
    }
    
}
.icon-box{
    margin-bottom: 30px;
    background-color: #f5f4fa;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    // padding: 25px 100px ;
    // width: 270px;
    
    
}

.fetures-icon{
    width: 70px;
    height: 70px;
}